@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
  }
main {
    align-items: center;
    justify-content: center;
    padding: 3rem;
    display: flex;
}
.container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }
.background {
    background-color: #BCB8B1;
}
.box {
    background-color: #eeece5;
    height: 25rem;
    width: 15rem;
    border-radius: 8px;
    flex-grow: 1;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    box-shadow: 0 1.75rem 1rem rgba(0, 0, 0, 0.3);
}
.longbox {
    display: flex;
    flex-direction: row;
    background-color: #eeece5;
    height: 15rem;
    border-spacing: 3rem;
    width: 100%;
    border-radius: 8px;
    margin: 1rem;
    gap: 3rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 1.75rem 1rem rgba(0, 0, 0, 0.4);
}
.title {
    font-size: 2rem;
    font-weight: 600;
}
.text {
    font-size: 1.5rem;
    font-weight: 600;
}
.img {
    max-width: 12rem;
    max-height: 12rem;
}
/* .amount {
    float: right;
} */
.red {
    background-color:  red;
    text-align: center;
}
.blue {
    background-color: navy;
}
.green {
    background-color: green;
}
.labels {
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: lavenderblush;
}
.column {
    display: table-cell;
    align-items: center;
    justify-content: center;
    width: 33%;
}
.buttons {
    text-align: center;
    margin: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.btn {
    padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.btn:hover {background-color: #3e8e41}
.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.hidden {
    display: none;
  }
